#feed {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.posts-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* Post */
.post {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
 /* User info */
 .post .user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

/* fixed profil image size */
.post .user-info .profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.post .post-content {
    margin-bottom: 10px;
}
/* fixed post image size */
.post .post-content .post-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}