#messaging{
    background-color: #fbfbfb;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1), -4px -4px 12px rgba(255, 255, 255, 0.6);
    margin: 0 10px 0 10px;
    padding: 5px;
}

.conversation{
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.conversation .profile-pic{
    width: 100px;
    height: 100px;
}

/* header */
.conversation .conversation-header {
    display: flex;
    align-items: center;
}

.conversation .conversation-header .conversation-info {
    margin-left: 10px;
}

.message-list {
    margin-top: 10px;
}
 
.toggle-messages {
    display: block;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: #073c74;
    color: white;
    border: none;
    border-radius: 4px;
}

.toggle-messages:hover {
    background-color: #0056b3;
}