/* Resetting Basic Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Basic Bodysuit Styles */
body{
    background-color: #e0e0e0;
    color: #333;
    line-height: 1.6;
}

.hidden {
    display: none;
}

/* Boutons */
button, .button {
    padding: 12px 20px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), -4px -4px 8px rgba(255, 255, 255, 0.7);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

button:hover, .button:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2), -4px -4px 15px rgba(255, 255, 255, 0.8);
}

button:focus, .button:focus {
    outline: none;
}