/* Resetting Basic Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Basic Bodysuit Styles */
body{
    background-color: #e0e0e0;
    color: #333;
    line-height: 1.6;
}

.hidden {
    display: none;
}

/* Boutons */
button, .button {
    padding: 5px 10px;
    background: linear-gradient(45deg, #4c99af, #819ec7);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    color: white;
    font-weight: bold;
}

button:hover, .button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

button:focus, .button:focus {
    outline: none;
}

input{
    border-radius: 4px;
    border: 1px solid #e7e7e7;
    padding: 3px;
}

.post, .friend-item {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* title page */
h2{
    text-align: center;
    background: linear-gradient(45deg, #4c99af, #819ec7);
    color: #ffffff;
}